:root {
  --olive: #708238;
  --olive-dark: #5a6b2f;
  --gold: #e4c580;
  --bg: #f5f5f2;
  --white: #fff;
  --text: #2d2d2d;
}

body {
  margin: 0;
  font-family: "Poppins", sans-serif;
  background: var(--bg);
  color: var(--text);
}

header {
  text-align: center;
  background: var(--olive);
  color:var(--white);
  padding: 2rem 1rem;
  border-bottom: 4px solid var(--gold);
}
section h1{
  text-align: center;
  background-color: #5a6b2f;
  color: var(--white);
  padding: 25px 75px;
  border: 4px solid #e4c580 ;
  margin: 70px;
}

header h1 {
  font-size: 2rem;
  margin-bottom: 0.3rem;
}

.hero {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  padding: 2rem;
  background: var(--white);
   box-shadow: 0 6px 10px rgba(0,0,0,0.08);
  transition: transform 0.6s;
}

.profile-pic {
  width: 280px;
  height: 280px;
  object-fit: cover;
  border-radius: 50%;
  border: 4px solid var(--olive);
  box-shadow: 0 0 20px rgba(0,0,0,0.15);
}

.hero .text {
  max-width: 450px;
  margin-left: 2rem;
}

.hero h2 {
  color: var(--olive-dark);
  margin-bottom: 0.5rem;
}

.hero h3{
  color:  var(--olive-dark);
  margin-bottom: 0.5rem;
}

button {
  background: var(--olive);
  color: var(--white);
  border: none;
  padding: 0.6rem 1rem;
  border-radius: 8px;
  cursor: pointer;
  transition: background 0.3s;
}
button:hover {
  background: var(--olive-dark);
}

.gallery, .videos {
  text-align: center;
  padding: 2rem 2rem;
}

h2 {
  color: var(--olive-dark);
  margin-bottom: 4rem;
}

.grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(400px, 2fr));
  gap: 16px;
  padding: 0 1rem;
}

.card {
  background: var(--white);
  border: 1px solid #ddd;
  border-radius: 12px;
  overflow: hidden;
  box-shadow: 0 6px 10px rgba(0,0,0,0.08);
  transition: transform 0.6s;
}

.card:hover {
  transform: scale(1.10);
}

.card img, .card video {
  width: 100%;
  height: 550px;
  object-fit: cover;
}

footer {
  text-align: center;
  background: var(--olive-dark);
  color: var(--white);
  padding: 2rem;
  font-size: 1rem;
  letter-spacing: 0.5px;
}

@media (max-width: 600px) {
  .hero {
    flex-direction: column;
    text-align: center;
  }
  .hero .text {
    margin-left: 0;
    margin-top: 1rem;
  }
}